/*---- Mobile Reset ----*/

* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}
html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Tahoma, Arial, Helvetica, "微软雅黑", Sans-serif;
    color: #000;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p, div, header, footer, section, article, aside, div, table, th, td {
    margin: 0;
    padding: 0;
    border: none;
}
h1, h2, h3, h4, h5, strong, i, em, th, td {
    font-weight: normal;
    font-style: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    vertical-align: middle;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    border: none;
}
:focus {
    outline: none
}
::-moz-focus-inner {
    border: 0
}
button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: Verdana, '微软雅黑', sans-serif;
    -webkit-appearance: none;
    appearance: none;
}
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*---- z-index ----*/

/*---- background ----*/
.close:after, .game-guide .inner p span:before {
    background-image: url(img/icon.png);
    background-size: 80px 45px;
}

.close {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
    text-indent: -9999px;
}
.close:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    right: 5px;
    border: 1px solid #007354;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.close:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 12px;
    top: 12px;
    background-position: -36px -30px;
}

/*---- Menu ----*/
.menu-button {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 8000;
}
.menu-button span {
    display: block;
    position: absolute;
    width: 22px;
    height: 3px;
    left: 17px;
    top: 25px;
    background: #b8b8b8;
    text-indent: -9999px;
    z-index: 10;
}
.menu-button span:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 3px;
    left: 0;
    top: -8px;
    background: #b8b8b8;
    z-index: 20;
}
.menu-button span:after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 3px;
    left: 0;
    bottom: -8px;
    background: #b8b8b8;
    z-index: 20;
}
.menu {
    display: block;
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -220px;
    background: #fff;
    z-index: 2000;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.menu.show {
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
}
.menu h2 {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.menu h2 a {
    display: block;
    width: 40px;
    height: 45px;
    margin: 0 auto;
    text-indent: -9999px;
    background: url(img/logo_s.png);
    background-size: 40px 45px;
}
.menu ul li {
    margin-bottom: 5px;
}
.menu nav {
    display: block;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.menu ul li a {
    display: block;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 13px;
    color: #747474
}

/*---- loading-page  ----*/
.loading-page {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 300;
    background-image: url(img/bg_04.png);
    background-repeat: repeat-x;
    background-size: 1px 100%;
    background-color: #fff;
}
.loading-page .inner {
    position: absolute;
    width: 22%;
    left: 50%;
    top: 50%;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    -webkit-transition: all 1s ease-out 0;
    transition: all 1s ease-out 0;
}
.loading-page.show .inner {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.loading-page .inner h1 {
    margin-bottom: 15px;
}
.loading-page .inner h1 img {
    width: 100%;
    height: auto;
}
.loading-page .inner .progress {
    font-size: 11px;
    color: #005b30;
}
.loading-page .ribbon-blue {
    display: block;
    position: absolute;
    width: 150%;
    left: -12%;
    top: 0;
    background: #252c39;
    z-index: 12;
    -webkit-transform: rotate(45deg) translate(-150%, -150%);
    transform: rotate(45deg) translate(-150%, -150%);
    -webkit-transition: all 2s ease-out .3s;
    transition: all 2s ease-out .3s;
}
.loading-page.show .ribbon-blue {
    -webkit-transform: rotate(45deg) translate(0, 0);
    transform: rotate(45deg) translate(0, 0);
}
.loading-page .ribbon-red {
    display: block;
    position: absolute;
    width: 110%;
    left: -30%;
    top: 40%;
    background: #cd2927;
    z-index: 12;
    -webkit-transform: rotate(-70deg) translate(-110%,-302%);
    transform: rotate(-70deg) translate(-110%,-302%);
    -webkit-transition: all 1s ease-out .6s;
    transition: all 1s ease-out .6s;
}
.loading-page.show .ribbon-red {
    -webkit-transform: rotate(-70deg) translate(0,0);
    transform: rotate(-70deg) translate(0,0);
}
.loading-page .ribbon-green {
    display: block;
    position: absolute;
    width: 120%;
    left: -10%;
    bottom: -12%;
    background: #007354;
    z-index: 10;
    -webkit-transform: rotate(30deg) translate(-120%, -70%);
    transform: rotate(30deg) translate(-120%, -70%);
    -webkit-transition: all 1s ease-out .8s;
    transition: all 1s ease-out .8s;
}
.loading-page.show .ribbon-green {
    -webkit-transform: rotate(30deg) translate(0, 0);
    transform: rotate(30deg) translate(0, 0);
}

/*---- Game Guide  ----*/
.game-guide {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(255,255,255,0.5);
    z-index: 250;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.game-guide.show {
    visibility: visible;
    opacity: 1;
}
.game-guide .inner {
    display: block;
    position: fixed;
    width: 250px;
    height: 250px;
    left: 50%;
    top: 50%;
    background-image: url(img/bg_03.png);
    background-repeat: repeat-x;
    background-size: 1px 100%;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
    -webkit-transition: all .3s ease-out .3s;
    transition: all .3s ease-out .3s;
}
.game-guide.show .inner {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.game-guide .inner p {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.game-guide .inner p span {
    display: block;
}
.game-guide .inner p span:nth-child(1) {
    margin-bottom: 25px;
}
.game-guide .inner p span:nth-child(1):before {
    content: "";
    display: block;
    width: 28px;
    height: 34px;
    margin: 0 auto 15px auto;
    background-size: 160px 90px;
    background-position: -100px -56px;
}
.game-guide .inner p span:nth-child(2):before {
    content: "";
    display: block;
    width: 32px;
    height: 34px;
    margin: 0 auto 15px auto;
    background-size: 160px 90px;
    background-position: -128px -56px;
}
/*---- main  ----*/
.main {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(img/bg_01.png);
    background-repeat: repeat-y;
    background-size: 100% 1px;
    overflow: hidden;
    z-index: 100;
}
.main:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 150;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.main.white:before {
    visibility: visible;
    opacity: 1;
}
.main-mask {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(37,44,57,0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 1500;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.main-mask.show {
    visibility: visible;
    opacity: 1;
}
.bench {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: url(img/bg_02.png);
    background-repeat: repeat-y;
    background-size: 100% 1px;
    overflow: hidden;
    z-index: 75;
}
.ground {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 76;
}
.ground img {
    display: block;
    width: 100%;
    height: auto;
}
#flux-site {
    position: relative;
    margin: 0;
    z-index: 160;
}
#flux-site .ribbon-blue {
    display: block;
    position: absolute;
    width: 120%;
    left: -10%;
    top: 60%;
    background: #252c39;
    z-index: 12;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
#flux-site .ribbon-red {
    display: block;
    position: absolute;
    width: 110%;
    right: -10%;
    top: 40%;
    background: #cd2927;
    z-index: 10;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
#flux-site .ribbon-green {
    display: block;
    position: absolute;
    width: 120%;
    left: -10%;
    top: 9%;
    background: #007354;
    z-index: 12;
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.partie .block-content .content-partie {
    position: relative;
}
.partie .block-content .content-partie .intro-partie {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: left;
}
#equipe .block-content .content-partie .intro-partie .col {
    position: absolute;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
#equipe .block-content .content-partie .intro-partie .col#man-1 {
    left: 0;
    bottom: 0;
    z-index: 100;
}
#equipe .block-content .content-partie .intro-partie .col#man-2 {
    bottom: 0;
    z-index: 90;
}
#equipe .block-content .content-partie .intro-partie .col#man-3 {
    bottom: 0;
    z-index: 80;
}
#equipe .block-content .content-partie .intro-partie .col#man-4 {
    z-index: 70;
}
#equipe .block-content .content-partie .intro-partie .col#man-5 {
    left: 50%;
    bottom: 0;
    z-index: 60;
}
#equipe .block-content .content-partie .intro-partie .col#man-6 {
    right: -10px;
    bottom: 0;
    z-index: 50;
}
.click-fix-4, .click-fix-5, .click-fix-6 {
    display: block;
    position: absolute;
    z-index: 120;
}
#equipe .block-content .content-partie .intro-partie .cadre-photo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#equipe .block-content .content-partie .intro-partie .first-photo,
#equipe .block-content .content-partie .intro-partie .white-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}
#equipe .block-content .content-partie .intro-partie .first-photo img,
#equipe .block-content .content-partie .intro-partie .white-photo img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: -8px;
}
#equipe .block-content .content-partie .intro-partie .anim-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#equipe .block-content .content-partie .intro-partie .anim-photo img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: -3px;
}
#equipe.active .block-content .content-partie .intro-partie .first-photo,
#equipe .block-content .content-partie .intro-partie .col.active .first-photo,
#equipe .block-content .content-partie .intro-partie .col.blur .white-photo {
    display: block !important;
}
#equipe .block-content .content-partie .intro-partie .col.active .white-photo,
#equipe .block-content .content-partie .intro-partie .col.blur .first-photo,
#equipe .block-content .content-partie .intro-partie .col.active .anim-photo,
#equipe .block-content .content-partie .intro-partie .col.blur .anim-photo {
    display: none !important;
}
#equipe .block-content .content-partie .intro-partie .photo-viensla {
    position: relative;
}


.detail-box {
    position: fixed;
    padding: 20px 40px;
    background-image: url(img/bg_03.png);
    background-repeat: repeat-x;
    background-size: 1px 100%;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    color: #717171;
    opacity: 0;
    z-index: -1;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
}
.detail-box.for_man-1, .detail-box.for_man-2, .detail-box.for_man-4 {
    right: 50%;
    -webkit-transform: translate(40px, 0);
    transform: translate(40px, 0);
}
.detail-box.for_man-3, .detail-box.for_man-5, .detail-box.for_man-6 {
    left: 50%;
    -webkit-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
}
.detail-box.show {
    opacity: 1;
    z-index: 240;
    -webkit-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
}

.detail-box h3 {
    font-size: 12px;
    margin-bottom: 20px;
}
.detail-box .pic {
    display: block;
    width: 100%;
    margin: 0 auto 15px auto;
    font-size: 0;
    background: #fff;
    overflow: hidden;
}
.detail-box .pic:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.detail-box img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.detail-box span.price {
    display: block;
    height: 14px;
    margin: 0 auto 10px auto;
}
.detail-box a {
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #717171;
    text-align: center;
}
.racket {
    display: block;
    position: absolute;
    bottom: 0;
    right: 20px;
    pointer-events: none;
    z-index: 170;
}
.racket img {
    display: block;
    width: 100%;
    height: auto;
    background: none;
}
/*---- Portrait box ----*/
.portrait-box {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1200;
}
.portrait-box h1 {
    display: block;
    width: 100%;
    margin: 15px auto 0 auto;
}
.portrait-box h1 a img {
    display: block;
    width: 25%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}
.portrait-box .gif {
    position: absolute;
    width: 60%;
    max-width: 400px;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.portrait-box .gif p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #777;
    text-align: center;
    text-decoration: underline;
}
.portrait-box .gif img {
    display: block;
    width: 100%;
    height: auto;
}
.portrait-box footer {
    display: block;
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    bottom: 10px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 15px;
    box-sizing: border-box;
}
.portrait-box footer a {
    color: #777;
}
.portrait-box footer a:last-child {
    float: right;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .portrait-box {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .portrait-box {
        display: none;
    }
}

@media screen and (orientation:landscape) and (min-width:480px) and (max-width:960px) {
    .portrait-box {
        display: none;
    }
}

@media (max-width: 480px) {
    .game-guide .inner p {
        font-size: 12px;
        line-height: 16px;
    }
    .game-guide .inner p span:nth-child(1) {
        margin-bottom: 15px;
    }
    .game-guide .inner p span:nth-child(1):before {
        margin: 0 auto 10px auto;
    }
    .game-guide .inner p span:nth-child(2):before {
        margin: 0 auto 10px auto;
    }
}